<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Grados técnicos CES Juan Pablo II</h1>
        <p>Aplicación WEB realizada por Gabriel Morales para el ciclo de Desarrollo de Aplicaciones Multiplataforma</p>
        <hr />
        <table class="table tab table-bordered">
            <thead>Aplicación realizada para el módulo de DI, hecha en ANGULAR que consta de:</thead>
            <tr>
                <td>Componente home: representa la entrega inicial de la aplicacion</td>
            </tr>
            <tr>
                <td>Componente ciclos: representa tantas cartas como ciclos existan en el servicio CiclosService</td>
            </tr>
            <tr>
                <td>Componente asignaturas: representa tantas cartas como asignaturas haya en el servicio AsignaturasService. Adicionalmente se cuenta con un filtro para poder ver asignaturas especificas</td>
            </tr>
            <tr>
                <td>Componente detalleCiclo: representa el detalle de un ciclo, donde se mostrarán los conocimientos necesarios para poder aprobar el ciclo y todas las asignaturas que lo componen</td>
            </tr>
            <tr>
                <td>
                    Componente navBar: representa la barra de navegacion superior, donde se muestra un menú con las siguientes posibilidades
                    <ul>
                        <li>Inicio: llevará al componente Home</li>
                        <li>Ciclos: llevará al componente Ciclos</li>
                        <li>Asignaturas: llevará al componente Asignaturas</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Servicios: se deberá crear al menos dos servicios que provean de datos tanto para los ciclos como para las asignaturas</td>
            </tr>
            <tr>
                <td>Pipes: se deberá crear al menos dos directivas personalizadas que realicen alguna transformación en la aplicación</td>
            </tr>
        </table>
        <a href="https://www.cesjuanpablosegundo.es/">
            <button type="button" class="btn btn-primary">Ir a la web</button>
        </a>
    </div>
</body>
</html>